chaincode/.vscode
chaincode/test
chaincode/medication-contract@1.0.0.cds
chaincode/.gitignore
chaincode/.editorconfig
chaincode/.eslintignore
chaincode/.eslintrc.js
bin/
med-app/js/wallet
med-app/js/node_modules
.DS_Store
network/fabric-samples/*